.inhouse-waitlist-card {
  border: 1px solid #c967a2;
  padding: 12px;
  border-radius: 8px;

  .inhouse-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    .sno {
      color: #a1999f;
      font-size: 10px;
      font-weight: 500;
    }
    .action-icon {
    }
  }
  .rank-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    .label {
      font-size: 10px;
      font-weight: 500;
      color: #a1999f;
      text-align: center;
      display: flex;
      gap: 4px;
      .value {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
  .gender-age-blood {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 4px;
    gap: 4px;
    .label {
      color: #a1999f;
      font-size: 10px;
      font-weight: 500;
      .value {
        font-size: 10px;
        font-weight: 500;
      }
    }
  }
  .date-phone-container {
    // flex justify-between items-center
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    .label {
      color: #a1999f;
      font-size: 10px;
      font-weight: 500;

      .value {
        color: #070707;
        font-size: 10px;
        font-weight: 600;
      }
    }
  }
}
